
header {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-image: url(images/Beritha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  padding: 2% 5% 2% 5%;
  position: absolute;
  left: -0.025%;
  right: -0.025%;
  top: 0%;
  justify-content: space-between;
  bottom: -26.48%;
  
  
}
.mainbar {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-right: 53px;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-color: white;
  
}
.mainbar a
{
  color:#FFFFFF;
  font-weight: 900;

}

.head a {
  color: #FFFFFF;
  font-weight: 900;
  margin-bottom: 20%;


}
.head {
  position: relative;
  right: 36px;
}

.school {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.school>h1 {
  height: 151px;
  font-weight: 700;
  font-size: 120px;
  line-height: 151px;
  text-align: center;
  color: #ffffff;
  z-index: 20;
}

.school>p {
  height: 20px;
  position: relative;
  margin-top: -5%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-left: 38%;
  margin-right: 38%;
  word-spacing: 5px;
}

.school>button {
  background: #c271ff;
  border-radius: 25px;
  border: none;
  padding: 0.7rem;
  color: white;
  font-weight: 500;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  align-self: center;
  margin: 2rem;
  padding: 1rem;
  font-size: 10px;
}

.element {
  padding: 1%;
  display: flex;
  position: relative;
  margin-top: 20px;
}

.element>h2 {
  align-self: center;
  padding: 2rem;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 22%;
}

.grid {
  position: absolute;
  font-size: 22px;
  left: 41%;
  right: 39%;
  color: #fff;   
}
.dcolor{
  color: #c271ff;
}

.mysongs
{
  display: flex;
  margin-top: 20px;
  position: relative;

}
.grid
{
 position: absolute;
 font-size: 22px;
 left: 41%;
 right: 39%;
 color: #fff;

}
.purple
{
  color: purple;
}
.smile
{
  flex-direction: row;
  padding-top: 100px;
  left: 10%;
  padding-left: 40px; 
  padding-right: 50px; 
  position: relative;
  padding-top: 40px;
  
}
.smile h3
{
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: beige;
  margin-bottom: -10%;

 
}
.smile p
{
  color:#c271ff;

  font-style:arial
}
.smile img
{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  
}
.smile p
{
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: aqua,

}

header img{
  border-radius: 50%

}
.quote{
  
  
  text-align: center;
  display:flex;
  flex-direction: row;
  text-align: justify;

  

}
.quotehead {
  background-color: #c271ff;
  padding: 0% 0% 0% 0%;
}
.quote img{
  border-radius: 50%;
  margin: auto
  
  
  

  
}
.block p{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  right: 40%;
  margin-left: 300px;
  font-style: bold;
  font-weight: 400;
}
  
blockquote{
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  width: 670px;
  text-align: right;
}